.cardstack
{
	position: fixed;
	top: 7vh;
	left: 0px;
	display: none;
}

.firstCard
{
	display: block;
}
.header
{
	
}
.footer
{
	position: fixed;
    bottom: 0;
	width: 100vw;
}

.glyphicon.glyphicon-thumbs-up 
{
    font-size: 20vw;
}
.glyphicon.glyphicon-thumbs-down 
{
    font-size: 20vw;
}
.red
{
	color: red;
}
.green
{
	color: green;
}