ul, li
{
	list-style: none;
}
.fixed-row
{
	left: 0px;
}
.cardstack
{
	position: fixed;
	top: 7.25vh;
	#left: 0px;
	display: none;
	overflow: scroll;
    height: 79.5vh;
	margin-left: -4vw;
}

.firstCard
{
	display: block;
}
.header
{
	-webkit-box-shadow: 0px 3px 25px 0px rgba(92,92,92,0.72);
	-moz-box-shadow: 0px 3px 25px 0px rgba(92,92,92,0.72);
	box-shadow: 0px 3px 25px 0px rgba(92,92,92,0.72);
	height: 7vh;
	padding-top: .5vh;
	padding-left: .5vh;
}
.footer
{
	-webkit-box-shadow: 0px 3px 25px 0px rgba(92,92,92,0.72);
	-moz-box-shadow: 0px 3px 25px 0px rgba(92,92,92,0.72);
	box-shadow: 0px 3px 25px 0px rgba(92,92,92,0.72);
	position: fixed;
    bottom: 0vh;
	width: 101vw;
    margin-left: -7.5vw;
}

.glyphicon.glyphicon-thumbs-up 
{
    font-size: 10vh;
}
.glyphicon.glyphicon-thumbs-down 
{
    font-size: 10vh;
}
.glyphicon.glyphicon-menu-hamburger
{
	padding-top: .5vh;
	padding-bottom .5vh;
	font-size: 5vh;
	
}
.red
{
	color: red;
}
.green
{
	color: green;
}
.brand
{
	padding-top: .5vh;
    font-weight: 900;
    font-size: 20px;
}
.sidemenu
{
	position: fixed;
    width: 95vw;
    height: 100vh;
    font-weight: 900;
    font-size: 50px;
    background-color: white;
    border-right: white;
    border-right-style: inset;
	padding-left: 5vw;
    border-top: white;
    border-top-style: groove;
}
.sidebar-nav li
{
	font-size: 40px;
	padding: 2vh;
}
.sidebar-brand a
{
	padding: 2.25vh;
	font-size: 60px;
}
.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}
.img-height-ltd
{
	max-height: 35vh;
}
.label-1
{
	background-color: rgba(52,148,186,1);
}
.label-2
{
	background-color: rgba(88,182,192,1);
}
.label-3
{
	background-color: rgba(117,189,167,1);
}
.label-4
{
	background-color: rgba(122,140,142,1);
}
.br
{
	width: 108%;
    border-top: darkgray .5px solid;
    border-bottom: darkgray .5px solid;
    box-shadow: 0px .5px .5px grey;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: -4%;
}
.lg
{
	font-size: large;
}
.md
{
	font-size: medium;
}
.sm
{
	font-size: small;
	height: 100%;
}
.hh3
{
	    font-size: 24px;
}

.line-break
{
	padding-top: 1%;
	padding-bottom: 1%;
}
.matches
{

	transition: all 1s linear;
	#overflow:hidden;

}
.item
{
	#overflow: hidden;
	#transition: all 1s ease;
}
.img-thumb
{
	    max-height: 12vh;
}